<div class="layout p-4 sm:p-6 space-y-4">
  <!-- Header + Add Button + Search -->
  <div
    class="flex flex-col sm:flex-row items-center justify-between gap-3 sm:gap-4"
  >
    <h1 class="text-3xl font-bold">Students</h1>

    <div
      class="flex flex-col sm:flex-row items-start sm:items-center gap-2 w-full sm:w-auto mt-2 sm:mt-0"
    >
      <!-- HLM Dialog for Add/Edit -->
      <hlm-dialog #studentDialog>
        <!-- Trigger for Add -->
        <button
          brnDialogTrigger
          hlmBtn
          class="py-5 text-md"
          (click)="openAddModal(); studentDialog.open()"
        >
          <span class="material-symbols-outlined"> add </span>
          Add Student
        </button>

        <!-- Dialog Content -->
        <hlm-dialog-content
          (close)="closeModal()"
          *brnDialogContent="let ctx"
          class="py-4 px-0 md:gap-4 gap-2 max-md:w-[95vw] max-md:mx-auto md:w-120 md:h-auto max-h-screen max-md:overflow-y-scroll"
        >
          <hlm-dialog-header>
            <h3
              brnDialogTitle
              hlm
              class="text-xl font-medium border-b-2 border-border w-full px-4 pb-2"
            >
              {{ isEditMode ? "Edit Student" : "Add Student" }}
            </h3>
          </hlm-dialog-header>

          <form
            (keydown.enter)="$event.preventDefault()"
            (ngSubmit)="isEditMode ? updateStudent() : addStudent()"
            class="px-4"
          >
            <!-- Name -->
            <div class="mb-4 py-0">
              <label class="block text-gray-700 text-sm font-medium mb-1"
                >Name</label
              >
              <input
                #inputName
                (focus)="(true)"
                hlmInput
                [(ngModel)]="currentStudent.name"
                name="name"
                (input)="onInputChange()"
                (keydown.enter)="focusNext(inputEmail)"
                placeholder="Enter student name"
              />
              <div *ngIf="errors.name" class="text-red-500 text-sm mt-1">
                {{ errors.name }}
              </div>
            </div>

            <!-- Email -->
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-medium mb-1"
                >Email</label
              >
              <input
                #inputEmail
                hlmInput
                [(ngModel)]="currentStudent.email"
                name="email"
                type="email"
                placeholder="Enter student email"
                (input)="onInputChange()"
                (keydown.enter)="focusNext(inputpassword)"
              />
              <div *ngIf="errors.email" class="text-red-500 text-sm mt-1">
                {{ errors.email }}
              </div>
            </div>

            <!-- Gender -->
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-medium mb-1"
                >Gender</label
              >
              <brn-select
                [(ngModel)]="currentStudent.gender"
                (ngModelChange)="
                  currentStudent.gender = $event; onInputChange()
                "
                name="gender"
                placeholder="Select Gender"
              >
                <!-- Trigger -->
                <hlm-select-trigger class="w-full">
                  <hlm-select-value />
                </hlm-select-trigger>

                <!-- Options -->
                <hlm-select-content>
                  <hlm-option
                    *ngFor="let gender of genderOptions"
                    [value]="gender"
                  >
                    {{ gender }}
                  </hlm-option>
                </hlm-select-content>
              </brn-select>

              <div *ngIf="errors.gender" class="text-red-500 text-sm mt-1">
                {{ errors.gender }}
              </div>
            </div>



            <!-- Password -->
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-medium mb-1"
                >Password</label
              >
              <input
                #inputpassword
                hlmInput
                [(ngModel)]="currentStudent.password"
                name="password"
                type="text"
                placeholder="Enter password"
                (input)="onInputChange()"
                (keydown.enter)="focusNext(inputphone)"
              />
              <div *ngIf="errors.password" class="text-red-500 text-sm mt-1">
                {{ errors.password }}
              </div>
            </div>

            <!-- Phone -->
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-medium mb-1"
                >Phone (Optional)</label
              >
              <input
                #inputphone
                hlmInput
                [(ngModel)]="currentStudent.phone"
                name="phone"
                maxlength="15"
                placeholder="Enter phone number"
                (input)="onInputChange()"
                (keydown.enter)="onSubmitForm($event)"
              />
              <div *ngIf="errors.phone" class="text-red-500 text-sm mt-1">
                {{ errors.phone }}
              </div>
            </div>

            <!-- Footer -->
            <hlm-dialog-footer class="flex-row justify-end max-sm:gap-2">
              <button
                hlmBtn
                variant="outline"
                type="button"
                (click)="ctx.close()"
              >
                Cancel
              </button>
              <button
                hlmBtn
                type="submit"
                [disabled]="!formValid"
                [ngClass]="
                  isEditMode
                    ? 'bg-success hover:bg-success-hover transition-colors'
                    : 'bg-primary'
                "
              >
                {{ isEditMode ? "Update" : "Save" }}
              </button>
            </hlm-dialog-footer>
          </form>
        </hlm-dialog-content>
      </hlm-dialog>

      <!-- Search Input -->
      <input
        hlmInput
        type="text"
        [(ngModel)]="searchTerm"
        (input)="filterStudents()"
        placeholder="Search students..."
        class="w-full sm:w-64 border border-gray-300 rounded px-3 py-2 focus:border-blue-500 focus:ring focus:ring-blue-500 outline-none"
      />
    </div>
  </div>

  <!-- Students Cards -->
  <div class="space-y-3 mt-4 max-h-[74dvh] overflow-y-auto">
    <ng-container *ngIf="filteredStudents.length > 0; else nostudents">
      <div
        *ngFor="let student of filteredStudents"
        class="border border-gray-300 rounded-lg p-4 bg-white shadow-sm"
      >
        <div class="flex flex-col justify-between">
          <!-- Student Info -->
          <div class="space-y-2">
            <div class="flex gap-2">
              <span class="font-semibold">Name:</span>
              <span>{{ student.name }}</span>
            </div>
            <div class="flex gap-2">
              <span class="font-semibold">Email:</span>
              <span>{{ student.email }}</span>
            </div>
            <div class="flex gap-2">
              <span class="font-semibold">Gender:</span>
              <span>{{ student.gender }}</span>
            </div>
            <div *ngIf="student.phone" class="flex gap-2">
              <span class="font-semibold">Phone:</span>
              <span>{{ student.phone }}</span>
            </div>
          </div>

          <!-- Actions -->
          <div class="flex gap-3 mt-3 justify-end">
            <button
              (click)="editStudent(student); studentDialog.open()"
              class="text-success hover:text-success-hover flex items-center gap-1 cursor-pointer transition-colors"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  d="M11 4H4a2 2 0 0 0-2 2v14c0 1.1.9 2 2 2h14a2 2 0 0 0 2-2v-7"
                />
                <path
                  d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"
                />
              </svg>
              <span class="text-sm">Edit</span>
            </button>
            <!-- Delete button (opens dialog) -->
            <hlm-dialog>
              <button
                (click)="openDeleteDialog(student)"
                brnDialogTrigger
                class="text-destructive hover:text-destructive-hover flex items-center gap-1 cursor-pointer transition-colors"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-trash2-icon lucide-trash-2 w-5s h-5"
                >
                  <path d="M10 11v6" />
                  <path d="M14 11v6" />
                  <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
                  <path d="M3 6h18" />
                  <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
                </svg>
                <span class="text-sm">Delete</span>
              </button>

              <hlm-dialog-content
                *brnDialogContent="let ctx"
                class="max-md:w-[95vw] max-sm:mx-auto"
              >
                <hlm-dialog-header>
                  <h3 brnDialogTitle hlm class="text-xl font-semibold">
                    Delete Student
                  </h3>
                  <p brnDialogDescription hlm>
                    Are you sure you want to delete
                    <strong>{{ studentToDelete?.name }}</strong
                    >?
                  </p>
                </hlm-dialog-header>

                <hlm-dialog-footer class="gap-y-2">
                  <button hlmBtn variant="outline" (click)="ctx.close()">
                    Cancel
                  </button>
                  <button
                    hlmBtn
                    variant="destructive"
                    type="button"
                    (click)="deleteStudent(); ctx.close()"
                  >
                    Yes, Delete
                  </button>
                </hlm-dialog-footer>
              </hlm-dialog-content>
            </hlm-dialog>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- No Students Template -->
  <ng-template #nostudents>
    <div
      class="flex flex-col items-center justify-center py-24 max-sm:py-10 text-center text-gray-500"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="sm:h-60 sm:w-80 h-40 w-60 mb-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 17v-6h6v6m2 4H7a2 2 0 01-2-2V7a2 2 0 012-2h4l2-2h5a2 2 0 012 2v14a2 2 0 01-2 2z"
        />
      </svg>
      <p class="text-lg font-medium">No students found</p>
      <p class="text-sm text-gray-400">
        Try adding one using the "Add Student" button.
      </p>
    </div>
  </ng-template>
</div>
