<main class="lg:max-w-[90%] px-5 py-10 sm:mt-5 mx-auto" *ngIf="quiz">
  <div class="max-w-4xl mx-auto">
    <div class="mb-12">
      <div class="text-center mb-8">
        <h2 class="text-3xl font-bold text-[var(--text-primary)]">
          Grading Interface
        </h2>
        <p class="text-base text-[var(--text-secondary)] mt-1">
          Quiz: {{ quiz.title }} | Student: {{ studentName || "N/A" }}
        </p>
      </div>
    </div>

    <div class="space-y-6">
      <div class="card" *ngFor="let q of quiz.questions; let i = index">
        <div class="flex justify-between items-start mb-4">
          <p class="text-lg font-semibold text-primary mb-4 flex-1">
            <span class="font-bold">{{ i + 1 }}.</span> {{ q.text }}
          </p>

          <ng-container *ngIf="q.type === 'mcq'">
            <div
              class="flex items-center gap-2 text-sm font-medium px-3 py-1 rounded-full"
              [ngClass]="{
                'text-green-600 bg-green-100': isCorrect(q),
                'text-red-600 bg-red-100': !isCorrect(q)
              }"
            >
              <svg
                class="w-4 h-4"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  *ngIf="isCorrect(q)"
                  clip-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  fill-rule="evenodd"
                ></path>
                <path
                  *ngIf="!isCorrect(q)"
                  clip-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                  fill-rule="evenodd"
                ></path>
              </svg>
              <span>{{ isCorrect(q) ? "Correct" : "Incorrect" }}</span>
            </div>
          </ng-container>
        </div>

        <div class="space-y-3" *ngIf="q.type === 'mcq'">
          <div
            *ngFor="let o of q.options"
            class="flex items-center p-4 rounded-md border-2"
            [ngClass]="{
              'bg-success-soft  border-success': o.isCorrect,
              'bg-destructive-soft  border-destructive':
                studentAnswer(q) === o.id && !o.isCorrect,
              ' border-border': studentAnswer(q) !== o.id
            }"
          >
            <p [class.font-semibold]="o.isCorrect">{{ o.text }}</p>
          </div>
        </div>

        <div class="space-y-3" *ngIf="q.type === 'written'">
          <div
            class="flex items-center p-4 rounded-md border border-gray-200 bg-gray-50 mb-4"
          >
            <p>{{ studentAnswer(q) }}</p>
          </div>
          <div class="flex items-center justify-end gap-3">
            <label
              class="text-sm font-medium text-gray-500"
              [for]="'score-' + q.id"
              >Points:</label
            >
            <input
              hlmInput
              class="w-20 h-8"
              [id]="'score-' + q.id"
              type="number"
              [(ngModel)]="questionScores[q.id]"
            />
            <span class="font-bold text-gray-500">/ {{ q.points }}</span>
          </div>
        </div>

        <div
          class="mt-4 flex items-end flex-col justify-center gap-3"
          *ngIf="q.type === 'mcq'"
        >
          <div class="flex items-center gap-3">
            <p class="text-sm font-medium text-gray-500">Points:</p>
            <p class="font-bold text-[var(--text-primary)]">
              {{
                showGradeInput[q.id]
                  ? manualScores[q.id] || 0
                  : studentAnswer(q) === correctAnswer(q)
                  ? q.points
                  : 0
              }}
              / {{ q.points }}
            </p>
          </div>
          <div class="flex items-center gap-2 mt-2">
            <!-- Manual grading button -->
            <button hlmBtn (click)="toggleManualInput(q.id)">
              Manual Grade
            </button>

            <!-- Show input if toggled -->
            <ng-container *ngIf="showGradeInput[q.id]">
              <input
                hlmInput
                class="w-20 h-8"
                [id]="'score-' + q.id"
                type="number"
                [(ngModel)]="manualScores[q.id]"
              />
              <span class="font-bold text-gray-500">/ {{ q.points }}</span>
            </ng-container>
          </div>
        </div>

        <div class="mt-4">
          <label
            class="text-sm font-medium text-gray-500"
            for="explanation-{{ q.id }}"
          >
            Explanation:
          </label>
          <textarea
            id="explanation-{{ q.id }}"
            class="mt-2"
            [(ngModel)]="questionExplanations[q.id]"
            hlmInput
            rows="2"
            placeholder="Add explanation for this question"
          ></textarea>
        </div>
      </div>

      <div class="mt-8 flex justify-end">
        <button hlmBtn class="p-6 text-base" (click)="submitGrades()">
          Submit Grades
        </button>
      </div>
    </div>
  </div>
</main>
